*{
    margin: 0;
    padding: 0;
    
}
body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0082FF;
    margin-top:30px;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}
.container .box {
    position: relative;
    width: 290px;
    height: 400px;
    margin: 40px;
    background: #E6E0E0;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box::before 
{
    content: 'Your';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box::after 
{
    content: 'CARD';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after
{
    opacity: 0.3;
} 

.container .box .name 
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name 
{
    top: 40px;
    opacity: 1;
}
.container .box .view {
    position: absolute;
    bottom: 0;
    left: 35%;
    transform-style: preserve-3d;
    transform: translate(-45%,0,75px);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
 
}
.container .box:hover .view 
{
    bottom: 30px;
    opacity: 1;
}
.container .box .circle 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .view {
    background:  #EE1F25;
}
.container .box:nth-child(2) .circle,.container .box:nth-child(2) .view {
    background:  #414199;
}
.container .box:nth-child(3) .circle,.container .box:nth-child(3) .view {
    background:  #7CC144;
}



.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: 0;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0; 
       
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
        
    }

}

.space {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer{
    padding:30px;

    background-color: #f1f1f1;
    
  }


